@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menuContainer {
  background-color: #dcc6fd;
  padding: 10px;
  text-align: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 10px;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
}

.menuLink {
  text-decoration: none;
  color: #6132be;
  font-weight: bold;
}

.termLink {
  text-decoration: none;
  color: #4a0ec4;
  font-weight: bold;
}

.title {
  color: #2f106c;
  font-size: 36px;
  font-weight: bold;
}

.termDifImagecontainer {
  margin: 20px 0;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 20px;
  background-color: #f9f9f9;
}

.term {
  font-size: 24px;
  font-weight: bold;
  color: #2f106c;
  margin-bottom: 10px;
}

.diffinition {
  margin: 10px 0 0 0;
}

.menuLink:hover,
.termLink:hover {
  color: #2f106c;
}

strong {
  color: #5c438d;
}

.termImage {
  max-width: 400px;
  height: auto;
  margin-left: 40px;
  border-radius: 6px;
}

.termDifImagecontainer {
  display: flex;
  scroll-margin-top: 20px;
}

.anchorLink {
  text-decoration: none;
  color: #4a0ec4;
  font-weight: bold;
  justify-content: center;
  display: flex;

  margin-bottom: 20px;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 5px;
  background-color: #f9f9f9;
}

.anchorLink:hover {
  color: #2f106c;
  background-color: #d8c0ef;
}
