@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

address {
  font-style: normal;
}

/* ===== Base ===== */

.page {
  font-family: "Rubik", sans-serif;
  background-color: #e0e0e0;
  color: #282828;
  min-height: 100vh;
  padding: 40px 20px;
}

.resume {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  overflow: hidden;
}

.resume-header {
  display: flex;
  gap: 60px;
  margin-bottom: 24px;
  align-items: flex-end;
}

.resume-header__title {
  font-size: 48px;
  font-weight: 500;
}

.resume-header__title-surname {
  margin-left: 48px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 500;
}

.contacts__list {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.contacts__link {
  display: inline-flex;
  font-weight: 400;
  gap: 6px;
  align-items: center;
  color: #515151;
  text-decoration: none;
}

.contacts__icon {
  width: 16px;
  flex-shrink: 0;
}

/* ===== Main ===== */

.resume-main {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 40px;
  align-items: start;
}

.resume-info {
  display: flex;
  flex-direction: column;
}

/* ===== About ===== */

.about {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about__header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 12px;
}

.about__icon {
  width: 34px;
}

.about__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

.about__list {
  display: grid;
  grid-template-columns: 110px 1fr;
  column-gap: 12px;
  row-gap: 10px;
  align-items: start;
}

.about__label {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.about__value {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #515151;
}

.about__trait-items {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* ===== Divider ===== */

.resume-info__hr {
  margin: 24px 0;
  width: 100%;
  max-width: 250px;
  border: none;
  height: 2px;
  background-color: #515151;
  border-radius: 999px;
}

/* ===== Education ===== */

.education {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.education__header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 12px;
}

.education__icon {
  width: 34px;
}

.education__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

.education__list {
  display: grid;
  grid-template-columns: 52px 1fr;
  column-gap: 14px;
  row-gap: 24px;
  align-items: start;
  margin-left: 55px;
}

.education__period {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.education__place {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #515151;
}

.education__city {
  font-weight: 300;
}
